<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>ch.josefweibel.alfred.publictransport</string>
	<key>connections</key>
	<dict>
		<key>0D355389-0F73-4CF4-93F3-27AD8EEC4179</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C72091C6-BC34-459E-8B1A-00E0B3E6627A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>0F7CF2D0-94B9-4B5C-95F4-16A7869B3E6D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D355389-0F73-4CF4-93F3-27AD8EEC4179</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>312149AE-5061-4D27-AFCE-DB7B52B6FEB7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7C43AE75-9D30-4DA5-B43C-60D840BB93BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>395896E6-7CA4-4598-A319-257F3BD4EC42</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C72091C6-BC34-459E-8B1A-00E0B3E6627A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5832FF80-CBC7-4024-8550-9563D6EB71E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>395896E6-7CA4-4598-A319-257F3BD4EC42</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5EACFDAB-08C1-461C-A920-EE80BB84A2F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7C43AE75-9D30-4DA5-B43C-60D840BB93BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>78FB1493-E816-4FFE-AAD7-3233CBB5EF81</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5EACFDAB-08C1-461C-A920-EE80BB84A2F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C0C17423-71ED-46A0-AE93-5EC688FB0FCC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C72091C6-BC34-459E-8B1A-00E0B3E6627A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C72091C6-BC34-459E-8B1A-00E0B3E6627A</key>
		<array/>
		<key>DA1650D7-A977-423C-9FAE-613D7BCB54FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0C17423-71ED-46A0-AE93-5EC688FB0FCC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FD06E847-D67D-4AA9-98DF-714201A287D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>312149AE-5061-4D27-AFCE-DB7B52B6FEB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Josef Weibel</string>
	<key>description</key>
	<string>Finde die nächsten Verbindungen für den öffentlichen Verkehr.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Fahrplan</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>nach</string>
				<key>runningsubtext</key>
				<string>Es wird nach Orten gesucht. Einen Moment bitte.</string>
				<key>script</key>
				<string># nach [Zielbahnhof] …

# Wenn ein Standard-Startbahnhof angegeben wurde, muss für eine Verbindung ab diesem lediglich noch der Zielbahnhof eingegeben werden, für welchen es auch Vorschläge gibt.

php -f source/Dispatcher/ToDispatcher.php "{query}" 1</string>
				<key>subtext</key>
				<string>Die nächsten Verbindungen anhand dem Standard-Startort und einem Endort suchen.</string>
				<key>title</key>
				<string>Nächste Verbindungen suchen.</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C0C17423-71ED-46A0-AE93-5EC688FB0FCC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>45</integer>
				<key>hotmod</key>
				<integer>393216</integer>
				<key>hotstring</key>
				<string>N</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>DA1650D7-A977-423C-9FAE-613D7BCB54FD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>von</string>
				<key>runningsubtext</key>
				<string>Es wird nach Orten gesucht. Einen Moment bitte.</string>
				<key>script</key>
				<string># von [Startbahnhof] nach [Zielbahnhof] …

# Sucht die nächsten Verbindungen vom Start- zum Zielbahnhof. Für die Bahnhöfe werden Vorschläge angeboten.

php -f source/Dispatcher/FromToDispatcher.php "{query}"</string>
				<key>subtext</key>
				<string>Die nächsten Verbindungen anhand einem Start- und einem Endort suchen.</string>
				<key>title</key>
				<string>Nächste Verbindungen suchen.</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0D355389-0F73-4CF4-93F3-27AD8EEC4179</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>open "http://trnsprt.ch{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C72091C6-BC34-459E-8B1A-00E0B3E6627A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>9</integer>
				<key>hotmod</key>
				<integer>393216</integer>
				<key>hotstring</key>
				<string>V</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0F7CF2D0-94B9-4B5C-95F4-16A7869B3E6D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>zurück</string>
				<key>runningsubtext</key>
				<string>Es wird nach Orten gesucht. Einen Moment bitte.</string>
				<key>script</key>
				<string># nach Hause [Startbahnhof] …

# Sucht die nächsten Verbindungen um vom angegebenen Startbahnhof zum definierten Heimbahnhof zu gelangen.

php -f source/Dispatcher/ToDispatcher.php "{query}" 0</string>
				<key>subtext</key>
				<string>Die nächsten Verbindungen anhand einem Start- und einem Endort suchen.</string>
				<key>title</key>
				<string>Nächste Verbindungen suchen.</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>395896E6-7CA4-4598-A319-257F3BD4EC42</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>4</integer>
				<key>hotmod</key>
				<integer>393216</integer>
				<key>hotstring</key>
				<string>H</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5832FF80-CBC7-4024-8550-9563D6EB71E9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>fahrplan start</string>
				<key>runningsubtext</key>
				<string>Es wird nach Orten gesucht. Einen Moment bitte.</string>
				<key>script</key>
				<string># fahrplan start [Startbahnhof]

# Mit diesem Befehl kann ein Standard-Startbahnhof festgelegt werden. Beispielsweise die Busstation vor dem Haus. So können noch schneller Verbindungen gefunden werden.

php -f source/Dispatcher/StartDispatcher.php "{query}"</string>
				<key>subtext</key>
				<string>Den Standard-Startort festlegen.</string>
				<key>title</key>
				<string>Fahrplan: Startbahnhof festlegen</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>78FB1493-E816-4FFE-AAD7-3233CBB5EF81</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>use Utils\WorkflowUtil;
require_once 'source/Utils/WorkflowUtil.php';

WorkflowUtil::setValue( "config", array( "home" =&gt; "{query}" ) );
echo "Der neue Heimbahnhof ist {query}.";</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5EACFDAB-08C1-461C-A920-EE80BB84A2F6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Fahrplan</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7C43AE75-9D30-4DA5-B43C-60D840BB93BD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>fahrplan klasse</string>
				<key>runningsubtext</key>
				<string>Klassen werden geladen ...</string>
				<key>script</key>
				<string># Damit bei der Auslastungsanzeige bei den Verbindungen die Klasse berücksichtigt werden kann, welche auch gefahren wird, kann man mit diesem Befehl zwischen der 1. und 2. wählen.

php -f source/Dispatcher/ClassDispatcher.php</string>
				<key>subtext</key>
				<string>Wird benötigt um die Auslastung bei Verbindungen darzustellen.</string>
				<key>title</key>
				<string>Fahrplan: Klasse festlegen</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FD06E847-D67D-4AA9-98DF-714201A287D4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>use Utils\WorkflowUtil;
require_once 'source/Utils/WorkflowUtil.php';

WorkflowUtil::setValue( "config", array( "class" =&gt; {query} ) );
echo "Die {query}. Klasse wurde als Standard festgelegt.";</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>312149AE-5061-4D27-AFCE-DB7B52B6FEB7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Fahrplan Alfred Workflow

Befehle:
-	von [Startbahnhof] nach [Zielbahnhof] …
	Sucht die nächsten Verbindungen vom Start- zum Zielbahnhof. Für die Bahnhöfe werden Vorschläge angeboten.

-	nach [Zielbahnhof] …
	Wenn ein Standard-Startbahnhof angegeben wurde, muss für eine Verbindung ab diesem lediglich noch der Zielbahnhof eingegeben werden, für welchen es auch Vorschläge gibt.

-	fahrplan start [Startbahnhof]
	Mit diesem Befehl kann ein Standard-Startbahnhof festgelegt werden. Beispielsweise die Busstation vor dem Haus. So können noch schneller Verbindungen gefunden werden.

-	fahrplan klasse
	Damit bei der Auslastungsanzeige bei den Verbindungen die Klasse berücksichtigt werden kann, welche auch gefahren wird, kann man mit diesem Befehl zwischen die 1. und 2. wählen.

Updates können über den Alleyoop-Workflow verwaltet werden.
Daten von der Opendata Transport API (transport.opendata.ch).

Wünsche, Fehlermeldungen und alles andere gerne via:
Website:		www.josefweibel.ch/alfred/fahrplan
Mail:		alfred@josefweibel.ch
Twitter:		@josefweibel

Das Projekt befindet sich auch auf GitHub: 
https://github.com/josefweibel/Public-Transport-Timetable---Alfred-Workflow</string>
	<key>uidata</key>
	<dict>
		<key>0D355389-0F73-4CF4-93F3-27AD8EEC4179</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>0F7CF2D0-94B9-4B5C-95F4-16A7869B3E6D</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>312149AE-5061-4D27-AFCE-DB7B52B6FEB7</key>
		<dict>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>395896E6-7CA4-4598-A319-257F3BD4EC42</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>5832FF80-CBC7-4024-8550-9563D6EB71E9</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>5EACFDAB-08C1-461C-A920-EE80BB84A2F6</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>78FB1493-E816-4FFE-AAD7-3233CBB5EF81</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>7C43AE75-9D30-4DA5-B43C-60D840BB93BD</key>
		<dict>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>C0C17423-71ED-46A0-AE93-5EC688FB0FCC</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>C72091C6-BC34-459E-8B1A-00E0B3E6627A</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>DA1650D7-A977-423C-9FAE-613D7BCB54FD</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>FD06E847-D67D-4AA9-98DF-714201A287D4</key>
		<dict>
			<key>ypos</key>
			<real>540</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.josefweibel.ch</string>
</dict>
</plist>
